
<div class="container text-center">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4" style="margin-top: 160px">

      <%= simple_form_for current_user.profile, :url =>  profile_path, :method => :patch  do |f| %>
        <%= f.input :first_name, label: 'First Name', placeholder: current_user.profile.first_name %>
        <%= f.input :last_name, label: 'Last Name', placeholder: current_user.profile.last_name %>
        <%= f.input :address, label: 'Address', placeholder: current_user.profile.address %>
        <%= f.input :born, label: 'Born', placeholder: current_user.profile.born %>
        <%= f.submit "Save my changes" , class: "btn btn-info" %>
      </div>
      <hr>

      <% end %>

    </div>
  </div>
</div>



