<h1> My Profile </h1>


<div>
First Name:  <%= current_user.profile.last_name %>
</div>
<hr>

<div>
Last Name:  <%= current_user.profile.last_name %>
</div>
<hr>

<div>
Address:  <%= current_user.profile.address %>
</div>
<hr>

<div>
Born:  <%= current_user.profile.last_name %>
</div>
<hr>

<%= link_to "Edit Profile", edit_profile_path(current_user.profile), :method => :get, class: 'btn btn-info full-width' %>
