
<h1>Booking Index</h1>

<div class=text-center>
  <h1>List of your Bookings</h1>
  <% current_user.bookings.each do |booking| %>
    <h2><%= booking.yurt.name %></h2>
    <p> <strong>Description: </strong><%= booking.yurt.description %></p>
    <p><strong>Location: </strong><%= booking.yurt.location %></p>
    <p><strong>Daily price: </strong><%= booking.yurt.daily_rate %></p>
    <p><strong>Shape: </strong><%= booking.yurt.shape %></p>
    <p><strong>Climate: </strong><%= booking.yurt.climate %></p>
    <p><strong>Start Date: </strong><%= booking.start_date %></p>
    <p><strong>End Date: </strong><%= booking.end_date %></p>

    <p><%= link_to "Delete the booking", booking_path(booking),
          method: :delete, data: { confirm: "Are you sure?" } %></p>

  <% end %>
</div>

<ul>
  <p><%= link_to "Back to Home", root_path %></p>
</ul>
