<% if current_user %>
<% if current_user.token %>
<% @profile = current_user.build_profile %>
<% @profile.save %>
<% end %>
<%= link_to "See Profile", profile_path(current_user.profile), :method => :get, class: 'btn btn-info full-width' %>
<%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-info full-width') %>
<%= link_to "My yurts", yurts_path, class: 'btn btn-info full-width' %>
<% else %>
<%= link_to('Login', new_user_session_path, class: 'btn btn-info full-width')  %>
<%= link_to("Sign Up", new_user_registration_path, :method => :get, class: 'btn btn-info full-width') %>
<% end %>


<%= link_to("See All Yurts", yurts_index_all_path, class: 'btn btn-info full-width') %>


<%= link_to("See YOUR Bookings", bookings_path, class: 'btn btn-info full-width') %>


<%= form_tag(yurts_index_all_path, :method => "get", id: "search-form") do %>

<%= select_tag( 'searchclimate', options_from_collection_for_select(Yurt.all.select('distinct climate'), "climate", "climate", '1')) %>
<%= select_tag( 'searchshape', options_from_collection_for_select(Yurt.all.select('distinct shape'), "shape", "shape", 1)) %>

<%= submit_tag "Find my dream yurt" %>
<% end %>




<div class="container">
  <div class="row no-gutter">
    <div class="col-xs-6">
      <div class="photo-cont-tall" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path @yurts.sample.photo, height: 300, width: 600, crop: :scale %>)">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-6">
          <div class="photo-cont-slim-top" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= cl_image_path @yurts.sample.photo, height: 150, width: 300, crop: :scale %>)">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="photo-cont-slim-top" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= cl_image_path @yurts.sample.photo, height: 150, width: 300, crop: :scale %>)">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="photo-cont-slim-bottom" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= cl_image_path @yurts.sample.photo, height: 150, width: 300, crop: :scale %>)">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="photo-cont-slim-bottom" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= cl_image_path @yurts.sample.photo, height: 150, width: 300, crop: :scale %>)">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="photo-cont-slim-bottom3" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= cl_image_path @yurts.sample.photo, height: 225, width: 400, crop: :scale %>)">
        </div>
      </div>
      <div class="col-xs-4">
        <div class="photo-cont-slim-bottom2" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= cl_image_path @yurts.sample.photo, height: 225, width: 400, crop: :scale %>)">
        </div>
      </div>
      <div class="col-xs-4">
        <div class="photo-cont-slim-bottom4" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= cl_image_path @yurts.sample.photo, height: 225, width: 400, crop: :scale %>)">
        </div>
      </div>
    </div>
  </div>
</div>














