<div class=text-center>
  <h1>All Available Yurts (not mine)</h1>

  <ul>
    <p><%= link_to "Back to Home", root_path %></p>
  </ul>

  <% @yurts.each do |yurt| %>


    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= cl_image_path yurt.photo, height: 300, width: 1200, crop: :fill %>);">
      <div class="card-category">
        <h1><%= yurt.shape %></h1>
      </div>
      <div class="card-description">
        <h1><%= yurt.location %></h1>
        <h2><%= yurt.climate %></h2>
      </div>
      <%= link_to "", yurt_path(yurt), class: "card-link" %>
    </div>

  <% end %>

</div>

