
<<<<<<< HEAD
<div class="container text-center">
  <div class="row">
  <div class="col-xs-4 col-xs-offset-4" style="margin-top: 160px; margin-bottom: 50px;">


        <h1>Add a yourte</h1>

        <%= simple_form_for @yurt do |f| %>
        <% if @yurt.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @yurt.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :location %>
        <%= f.input :daily_rate %>
        <%= f.input :shape %>
        <%= f.input :climate %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>

        <%= f.submit "ajoutez une yourte", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

