<h2><%= @yurt.name %></h2>
<p> <strong>Description: </strong><%= @yurt.description %></p>
<p><strong>Location: </strong><%= @yurt.location %></p>
<p><strong>Daily price: </strong><%= @yurt.daily_rate %></p>
<p><strong>Shape: </strong><%= @yurt.shape %></p>
<p><strong>Climate: </strong><%= @yurt.climate %></p>

<p><%= link_to "Rent my yurt", new_yurt_timeslot_path(@yurt) %></p>
<p><%= link_to "Edit your yurt", edit_yurt_path(@yurt) %></p>
<p><%= link_to "Delete the yurt", yurt_path(@yurt),
method: :delete,
data: { confirm: "Are you sure?" } %></p>
<hr>
<p><%= link_to "Back to your yurt list", yurts_path %></p>



<% if @yurt.user_id != current_user.id %>
  <h2>Book This Yurt</h2>
  <div class=text-center>
    <div class=container>
      <div class=row>
        <div class=col-xs-4>
          <%= simple_form_for [@yurt, @booking], :url => new_yurt_booking_path(@yurt), :method => :get do |f| %>
            <% if @yurt.errors.any? %>
            <div id="error_explanation">
              <ul>
                <% @yurt.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
            <% end %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.hidden_field :yurt_id, :value => @yurt.id %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.submit "Check Availability", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <p><%= link_to "Book this Yurt", yurts_path %></p>

  <h2>Reviews</h2>


  <% @yurt.bookings.each do |booking| %>
    <%= booking.review.description %>
    <%= booking.review.rating %>
  <% end %>



<% end %>
