

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @flat_coordinates %>;
      alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>

<div class="container padded2">
  <div class="row">
    <div class="col-xs-6">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= cl_image_path @yurt.photo, height: 300, width: 500, crop: :scale %>);">
        <div class="card-category">
          <%= @yurt.shape %></h1>
        </div>
        <div class="card-description">
          <h1><%= @yurt.location %></h1>
          <h2><%= @yurt.climate %></h2>
        </div>
      </div>
      <% if @yurt.user_id == current_user.id %>
        <div class="list-inline buttons-container">
          <p><%= link_to "Rent my yurt", new_yurt_timeslot_path(@yurt), class: 'btn btn-primary full-width aligner'%></p>
          <p><%= link_to "Edit your yurt", edit_yurt_path(@yurt), class: 'btn btn-primary full-width aligner'%></p>
          <p><%= link_to "Delete the yurt", yurt_path(@yurt), class: 'btn btn-primary full-width aligner', method: :delete, data: { confirm: "Are you sure?" } %></p>
        </div>
      <% end %>
    </div>
    <div class="col-xs-6">
      <h2><%= @yurt.name %></h2>
      <h4> <strong>Description: </strong> </h4>
      <p><%= @yurt.description %></p>
      <h4> <strong>Location: </strong> </h4>
      <p><%= @yurt.location %></p>
      <h4> <strong>Daily Rate: </strong> </h4>
      <p><%= @yurt.daily_rate %> Euros</p>
      <h4> <strong>Shape: </strong> </h4>
      <p><%= @yurt.shape %></p>
      <h4> <strong>Climate: </strong> </h4>
      <p><%= @yurt.climate %></p>
      <p><%= link_to "Back to your yurt list", yurts_path %></p>
    </div>
  </div>
</div>


<% if @yurt.user_id != current_user.id %>
  <div class="text-center booking-container">
  <h3>Book This Yurt</h3>
    <div class="container">
      <div class=row>
        <div class=col-xs-4>
          <%= simple_form_for [@yurt, @booking], :url => new_yurt_booking_path(@yurt), :method => :get do |f| %>
            <% if @yurt.errors.any? %>
            <div id="error_explanation">
              <ul>
                <% @yurt.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
            <% end %>
          <%= f.input :start_date %>
        </div>
        <div class="col-xs-4">
          <%= f.input :end_date %>
          <%= f.hidden_field :yurt_id, :value => @yurt.id %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
        </div>
        <div class="col-xs-4">
          <h1></h1>
          <p></p>
          <%= f.submit "Check Availability", class: "btn btn-primary" %>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>

  <h2>Reviews</h2>

   <% @yurt.bookings.each do |booking| %>
    <% if !(booking.review.nil?) %>
     <%= booking.review.description %>
     <%= booking.review.rating %>
    <% end %>
   <% end %>

<% end %>
